body {
    background-color: rgba(48, 190, 43, 0.151);
    font-size: 50px;
}

main {
    display: flex;

    div {
        margin: 10px;
        border: 3px solid black;
        border-radius: 6px;
    }

    #Tomato {
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

    #List {
        display: flex;
        flex-direction: column;
        padding: 10px;
    }
}